@font-face {
    font-family: DMSerifDisplay;
    src: url(../fonts/DMSerifDisplay-Regular.woff2);
}
@font-face {
    font-family: NotoSansKR;
    src: url(../fonts/NotoSansKR-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: NotoSansKR;
    src: url(../fonts/NotoSansKR-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: NotoSansKR;
    src: url(../fonts/NotoSansKR-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond-Italic.woff2);
    font-style: italic;
}
@font-face {
    font-family: EBGaramond;
    src: url(../fonts/EBGaramond-SemiBoldItalic.woff2);
    font-weight: 600;
}

@font-face {
    font-family: RhymesDisplay;
    src: url(../fonts/RhymesDisplay-Thin.woff2);
    font-weight: 200;
}
@font-face {
    font-family: RhymesDisplay;
    src: url(../fonts/RhymesDisplay-UltraLight.woff2);
    font-weight: 300;
}



@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Light.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Bold.woff2) format('woff2');
    font-weight: 700;
}



@font-face {
    font-family: "Grotesk";
    src: url(../fonts/Grotesk-Medium.woff2) format('woff2');
    font-weight: 500;
}



@font-face {
    font-family: "Condensed-Regular";
    src: url(../fonts/Condensed-Regular.woff2) format('woff2');
    font-weight: 400;
}





