$font-en1: "Grotesk",sans-serif;
$font-en2: "Condensed-Regular",serif;
$font-kr: "Pretendard","NotoSansKR", "Roboto", sans-serif;

$color-black1: #111;
$color-white1: #fff;
$color-white2: rgb(241, 241, 241);