.header {
    position: absolute;
    width: 100%;
    height: 120px;
    z-index: 10;

    .logo-area {
        @include positionCenter;

        .link-logo { display: block; width: 205px; }
        .logo-img { fill: $color-black1; }
    }
    .btn-menu {
        @include flexCenterVertical;
        @include positionCenterVertical;
        position:fixed;
        top: 60px;
        right: 40px;
        z-index: 51;
        width: 50px; height: 50px;
        border-radius: 50%;
        background-color: $color-black1;
        border: 1px solid $color-white1;

        .line-wrap { @include positionCenter; }
        .line { 
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff; 
            transition: 0.3s;
        }
        

        &::after {
            position: absolute;
            content: 'MENU';
            font-size: 15px;
            visibility: hidden;
            transition: 0.3s;
            opacity: 0;
            transform: translateX(0);
            color: $color-black1;
            mix-blend-mode: difference;
        }
        &:hover::after {
            visibility: inherit;
            opacity: 1;
            transform: translateX(-130%);
        }
        &.on {
            color: $color-white1;
            
            &::after {
                content: 'CLOSE';
                color: $color-white1;
            }
            &:hover::after { transform: translateX(-130%); }
            &:hover {
                .line:first-child {     
                    transform: rotate(45deg);
                    margin-top: 4px;
                }
                .line:last-child {
                    transform: rotate(-45deg);
                    margin-top: -3px;
                    margin-bottom: 3px;
                }
            }
            .line { background-color: #fff; }
        }

        .text-box {
            font-size: 14px;
            font-weight: 400;
        }
        .line-wrap {
            @include positionCenter;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20px;
            height: 8px;
        }
    }
    
    .sub-area.on { visibility: inherit;}
    .sub-area {
        visibility: hidden;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: $color-black1;
        color: $color-white1;
        overflow: auto;
        z-index: 50;
        padding: 100px 0;

        .sub-item {
            position: relative;
            font-family: EBGaramond;
            font-size: 60px;
            line-height: 1.2;
            padding: 20px 0;

            &::after {
                position: absolute;
                bottom: 0; left: 0;
                content: '';
                width: 100%;
                height: 1px;
                background-color: rgba(255,255,255,0.5);
            }
        }
        .close-btn {
            position: absolute;
            top: 20px; right: 20px;
            color: $color-white1;
        }
    }
}

@include tablet {
    .header {
        .btn-menu {
            right: 20px;
        }
    }
}